*{
	margin:0;
	padding:0;
}
header{width:100%;
	background:#5F9EA0;
	height:70px;
}
.menu{
	width:80%;
	height:70px;
	background:#5F9EA0;
	margin:auto;
}
.logo{
	width:30%;
	height:70px;
	background:#5F9EA0;
	float:left;
	padding-top:10px;
	box-sizing:border-box;
	text-decoration:none;
	
	
}
nav{
	width:70%;
	height:70px;
	background:#5F9EA0;
	float:left;
	text-align:right;
	padding-top:24px;
	box-sizing:border-box;
}
nav ul li{
	display:inline;
}
nav ul li a{
	color:white;
	font-size:13px;
	text-decoration:none;
	text-transform:uppercase;
	padding-left:20px;
	font-weight:bold;
	letter-spacing:1px;
}
nav ul li a:hover{
	color:#4444;
}
.logo p a{
	color:white;
	font-size:50px;
	text-decoration:none;}
nav{
	width:70%;
	height:70px;
	background:#5F9EA0;
	float:left;
	text-align:right;
	padding-top:24px;
	box-sizing:border-box;
}
nav ul li{
	display:inline;
}
nav ul li a{
	color:white;
	font-size:13px;
	text-decoration:none;
	text-transform:uppercase;
	padding-left:20px;
	font-weight:bold;
	letter-spacing:1px;
}
nav ul li a:hover{
	color:#4444;
}
.logo p a{
	color:white;
	font-size:50px;
	text-decoration:none;
}
section table{
	width:99%;
	border-color:#708090;
	border-radius:5px;
	background:white;
	margin:5px;
	padding:10px;
	cursor:default;
	line-height:1.5;
	text-decoration:none;
	text-align:left;
	transition: all 400ms ease;
	
}
td, th{
	padding:15px;
}
tr:hover{
	background-color:#EefFFF;
}
section p{
	background:white;
	margin:5px;
	padding:10px;
	font-size:12px;
	border-radius:5px;
	cursor:default;
	line-height:1.5;
	text-decoration:none;
	display:inline-block;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease;
	display:inline-block;
	box-sizing:border-box;
	width:99%;
	color:#1E90FF;
	text-transform:uppercase;
	font-size:13px;
}
h1{
	padding-top:12px;
	box-sizing:border-box;
	margin:8px;
	color:#1E90FF;
}
h3{
	padding-top:10px;
	margin:8px;
	text-transform:uppercase;
	font-size:23px;	
	color:#1E90FF;
	letter-spacing:2px;
}
section a{
	text-decoration:none;
}
.cax:hover a{
	box-shadow:5px 5px 20px rgba(0,0,0,0.4);
	transform: transLateY(-3%);
	background:#2fb4cc;
	color:#fff;
}
.cax{
	text-decoration:none;
	text-align:center;
	overflow: hidden;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	cursor:default;
	transition: all 400ms ease;
}
.cax a{
	text-decoration:none;
	display:inline-block;
	padding:12px;
	margin-top:10px;
	color:#2fb4cc;
	border:1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	overflow: hidden;
}
p:hover{
	background-color:#EefFFF;	
}
table:hover{
box-shadow:5px 5px 20px rgba(0,0,0,0.4);
	transform: transLateY(-3%);
}
body{
	background:#E0FFFF
}
p:hover{
	box-shadow:5px 5px 20px rgba(0,0,0,0.4);
	transform: transLateY(-3%);
}
